 .grid>div {
     font-size: 30px;
     text-align: center;
     border: 2px solid black;
     padding: 20px 0;
     color: white;
 }

 .grid {
     display: grid;
     grid-template-columns: auto ;
     grid-template-rows: auto auto 200px 150px;
 }

 .title {
     font-size: 30px;
 }

 .grid-1 {
     background-color: black;
 }

 .grid-2 {
     background-color: rgb(194, 116, 116);
 }

 .grid-3 {
     background-color: rgb(122, 105, 201);
 }

 .grid-4 {
     background-color: rgb(44, 21, 75);
 }

 .grid-5 {
     background-color: rgb(240, 243, 81);
 }

 .grid-6 {
     background-color: rgb(31, 189, 123);
 }

 .grid-7 {
     background-color: rgb(138, 191, 216);
 }

 /* tablet */
 /* .t-grid {
     display: grid;
     grid-template-columns: auto auto auto auto;
     grid-template-rows: auto 150px 200px auto  ;
     gap: 1px;
     padding: 20px 10px;
     width: 400px;
     height: auto;
 }

 .t-grid>div {
     text-align: center;
     padding: 10px;
     color: antiquewhite;
     border: 2px solid black;
     font-size: 30px;
 }

 .t-grid-1 {
     background-color: black;
     grid-column-start: 1;
     grid-column-end: 6;

 }

 .t-grid-2 {
     background-color: rgb(194, 116, 116);
     grid-column-start:1;
     grid-column-end: 6;

 }

 .t-grid-3 {
     background-color: rgb(122, 105, 201);
     grid-row-start: 3;
     grid-row-end: 6;
 }

 .t-grid-4 {
     background-color: rgb(44, 21, 75);
     grid-column-start:2;
     grid-column-end: 6;
 }

 .t-grid-5 {
     background-color: rgb(240, 243, 81);
     grid-column-start:2;
     grid-column-end: 6;
 }

 .t-grid-6 {
     background-color: rgb(31, 189, 123);
     grid-column-start:2;
     grid-column-end: 5;
     width: 200px;

 }

 .t-grid-7 {
     background-color: rgb(138, 191, 216);
     grid-column-start: 5;
     grid-column-end: 6;
 } */
 /* desktop */
 /* .title{
    text-align: center;
 }
  .d-grid {
     display: grid;
      gap: 1px;
      /* grid-template-columns: 100%;
      grid-template-rows: 100%; */
     /* padding: 20px 10px;
      
 }
 .d-grid>div {
    text-align: center;
     padding: 10px;
     
     grid-template-columns: auto auto auto auto;
     grid-template-rows: auto auto  auto auto ; 
     color: antiquewhite;
     border: 2px solid black;
     font-size: 30px;
      
 }
 .d-grid-1 {
     background-color: black;
     grid-column-start: 1;
     grid-column-end: 2;
 }
 .d-grid-2 {
     background-color: rgb(196, 25, 25);
     grid-column-start:2;
     grid-column-end: 5;
 }
 .d-grid-3 {
     background-color: rgb(113, 90, 211);
     grid-column-start: 1;
     grid-column-end: 5;
     height: 200px;
 }
 .d-grid-4 {
     background-color: rgb(44, 19, 77);
     grid-row-start:3;
     grid-row-end: 5;
      height: 250px; 
      width: 600px;
    
 }
 .d-grid-5 {
     background-color: rgb(153, 203, 226);
     grid-column-start:4;
     grid-column-end: 5;
 }
 .d-grid-6 {
     background-color: rgb(20, 126, 85);
     grid-column-start:4;
    grid-column-end: 5;
     
 }
 .d-grid-7 {
     background-color: yellow;
     grid-column-start: 1;
     grid-column-end: 5;
 } */ 
  
 
   
      
 