.border-box{
        height: 400px;
        
        background-color: rgb(183, 183, 216);
        padding: 30px;
        border: 10px solid black;
        border-radius: 25px;
    }
    
    .border-box p{
        font-size: 46px;
	color: #ffffff;
	background-color: #114862;
	padding: 20px 5px;
	margin: 0;

        
    }
    