*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
.maindiv{
    background-color: gray;
    height: 600px;
    width: 1200px;
    display: flex;
    justify-content: space-evenly;
    border: 2px solid black;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: flex-start;
    
    
}
/* .maindiv div{
    flex:1 0 0%
} */

.maindiv div:nth-child(1){
    height: 100px;
    width: 100px;
    background-color: blue;  
    

}

.maindiv div:nth-child(2){
    height: 100px;
    width: 100px;
    background-color: rgb(184, 184, 214);

}
.maindiv div:nth-child(3){
    height: 100px;
    width: 100px;
    background-color: rgb(206, 156, 18);

}
.maindiv div:nth-child(4){
    height: 100px;
    width: 100px;
    background-color: rgb(121, 71, 6);
    align-self: center;


}
.maindiv div:nth-child(5){
    height: 100px;
    width: 100px;
    background-color: rgb(80, 228, 21);
    align-self: center;

}
.maindiv div:nth-child(6){
    height: 100px;
    width: 100px;
    background-color: rgb(212, 15, 15);
    align-self: center;


}
.maindiv div:nth-child(7){
    height: 100px;
    width: 100px;
    background-color: rgb(91, 150, 160);
    align-self: end;
    
}
.maindiv div:nth-child(8){
    height: 100px;
    width: 100px;
    background-color: rgb(223, 120, 180);
    align-self: end;
    
}
.maindiv div:nth-child(9){
    height: 100px;
    width: 100px;
    background-color: rgb(10, 73, 26);
    align-self: end;

}