.box{
    position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 320px;
	padding-top: 100px;
	background: #3c31dd;

}
.box-1{
    position: absolute;
    height: 250px;
    width: 100%;
    bottom: 0;
    text-align: center;

}
.box-1::before{
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    transform: translate(85%, 60%);
    background-color: #202731;
}

.box-1::after{
    content: '';
	display: block;
	position: absolute;
	border-radius: 100% 50%;
	width: 55%;
	height: 100%;
	background-color: #3c31dd;
	transform: translate(-4%, 40%);
	z-index: 0;

}
.main-box{
    background-color: #202731;
	height: 770px;

}