.box{
  height: 200px;
  width: 200px;
  background-color: red;
}
*{
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body{
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

h1,p{
margin-bottom: 0;
}

  /* Example Web Behavior in Flex-Container */

/* Container */

.container{
  max-width: 1100px;
  margin: auto;
  position: relative;
}


/* Megaone start */

.main-division{
  position: relative;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-links nav ul{
  list-style-type: none;
  display: flex;
  gap:30px;
}
.nav-links nav ul li a{
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.banner-section{
  padding:80px 0px;
  display: flex;  
  align-items: center;
  flex-wrap: wrap;
}

.bg-text h1{
  color:white
}
.bg-text p{
  font-size: 18px;
  color:white
}
.bg-text a{
  text-decoration: none;
  padding: 15px 30px;
  background-color: white;
  margin-top: 20px;
  display: inline-block;
  font-weight: bold;
  border-radius: 30px;
  transition: 1s;
}

.bg-text a:hover{
  background-color: #002450;
  color:white;
  transition: 1s;
}
.back{
  background: linear-gradient(to left, #0176ff, #00b7ff);
  position: relative;
}
.main-division{
  padding: 20px 20px;
}
.mobile-menu{
  position: absolute;
  right:0;
  top:0;
  bottom: 0;
  margin: auto;
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.mobile-menu i{
  font-size: 25px;
}
.web-hosting{
  background-color: #002450;
  position: absolute;   
  width: 100%;
  bottom:-85px;
}
.hosting-div{
  display: flex;
}
.bg-text p{
  margin: 0;
}
.bg-text h1{
  margin:0px 0px 20px;
}
.web{
  position: relative;
}
.web-text{
  position: absolute;
}
.-text{
  position: absolute;
}
.web-text{
  position: absolute;
}
.back-anime{
  position: absolute;
  background-color: red;
  height: 0%;
  width: 100%;
  z-index: 1;
}
.web:hover .back-anime{
  height: 100%;
  animation:increase 2s linear;
}
@keyframes increase{
  from{
    transform: scaleY(0);
  }
  to{
    transform: scaleY(1);
  }
}
  