/* Media Queries */


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (max-width :1400px) {
  .navigation {
    display: flex;
    align-items: center;
    padding: 25px 10px;
    justify-content: space-between;
}
.nav-item{
     
}
.icon{
    
}

.nav-item nav ul li {
    padding: 0px 10px;
}   
}
@media (max-width :1200px) {
  .navigation {
    display: flex;
    align-items: center;
    padding: 25px 10px;
    justify-content: space-between;
}
.nav-item{
    margin-left: 55px;
}
.icon{
    margin-left: 55px;
}

.nav-item nav ul li {
    padding: 0px 10px;
}   
}
 /* Large devices (laptops/desktops, 992px and up) */
 @media(max-width: 992px) {
  .solution-text h1 {
    margin-left: 20px;
    margin-bottom: 20px;
}
.navigation {
  display: flex;
  align-items: center;
  padding: 30px 50px;
}
.solution-text p {
  padding-right: 97px;
  font-size: 23px;
  color: rgba(0, 0, 0, 0.582);
  font-weight: bold;
  line-height: 33px;
  margin-left: 22px;
  font-size: 22px;
}
.main-row-1 {
  display: flex;
  padding: 30px 18px;
}
.explore {
  margin-left: 20px;
}
 
.solution-img img {
  width: 450px;
  margin-right: 65px;
}
.control-img img {
  width: 400px;
  margin-left: 40px;   
}
.control-text {
  width: 400px;
}
.font h3 {
  font-size: 33px;
}
.list-item {
  display: block;
  padding-top: 0;
}
.control-text {
  width: 400px;
  margin-right: 20px;
}
.makes-img img {
  width: 450px;
  margin-right: 30px;
}
.list-item ul {
  padding: 11px 30px 0 0;
}
.control-text {
  margin-left: 30px;
}
.proud-1 {
  width: 206px;
  margin-top: 10px;
  padding: 4px 24px;
  align-items: center;
}
.proud-1 img {
  height: 48px;
  width: 60px;
}
.font h3 {
  font-size: 38px;
  text-align: start;
  font-family: Urbanist, sans-serif;
  line-height: 44px;
  letter-spacing: normal;
  padding-top: 4px;
}
.proud-1 h3 {
  margin-top: 10px;
  font-size: 35px;
  color: rgba(41, 39, 39, 0.911);
   text-align: center; 
}
.proud-2 {
  background-color: white;
  padding: 37px;
  margin: -10px 24px 20px 20px;
  box-shadow: #5877b3;
  border-radius: 15px;
  width: 445px;
  height: 238px;
  border-bottom: 6px solid #cfceea;
  box-shadow: 0 .25rem 1.75rem rgba(30, 34, 40, .07) !important;
}
.full-proud2 {
  position: absolute;
  display: flex;
  bottom: -230px;
  z-index: 99;
  flex-wrap: wrap; 
}
.case-text{
  margin-top: 500px;
}
.case-box img {
  width: 445px;
  border-radius: 10px;
  margin-left: 15px;
}
.case-box h2 {
  margin: 20px 18px;
}
ul, ol {
  padding: 0px;
  margin-left: 15px;
}
.vision {
  display: flex;
  margin-left: 17px;
}
.vision-1 {
  position: relative;
  font-size: 18px;
  font-weight: bold;
  color: #262d3a;
  background-color: #e8ebf1;
  height: 40px;
  width: 40px;
  text-align: center;
  border-radius: 100%;
  padding: 10px 15px;
}
.vision-text {
  position: relative;
  height: auto;
  width: 229px;
  margin: 0px 19px;
}
.contact-img img {
  height: 385px;
  width: 432px;
  margin-left: 20px;
  margin-top: 20px;
}
.contact-text {
  position: relative;
  margin: 0px 64px ;
}
.contact-1 {
  position: relative;
  margin-bottom: 50px;
}
.contact-1 h3 {
  font-size: 35px;
  width: 369px;
}
.contact-us {
  display: flex;
  margin-left: 30px;
}
.last-cols-1 {
  width: 198px;
  height: auto;
  margin: 0px 14px;
}
 
  }
  /* Medium devices (landscape tablets, 768px and up) */
  @media (max-width: 768px) {
    .nav-item{
      display: none;
    }
   .navigation{
    margin-left: 15px;
    margin-right: 15px;
   } 
   .solution-img {
     
  margin-top: 70px;
  margin-left: 50px;
  }
  .banner {
    background-image: url('../image/bg-1.png');
    background-repeat: no-repeat;
    background-position: center;
     
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 850px;
  }
  .solution-text p {
     margin: 0px -83px 20px 20px;
  }
  .solution-text h1 {
    margin: 7px -3px 41px 0px;
    font-size: 35px;
  }
  .solution-text {
    margin-left: 50px;
    margin-top:-50px;
     
  }
     
}
/* Medium devices (landscape tablets, 576px and up) */
@media (max-width: 576px) {
  .nav-item{
    display: none;
  }
 .navigation{
  margin-left: 15px;
  margin-right: 15px;
 } 
 .solution-img {
   
margin-top: 70px;
margin-left: 50px;
position: static;
}
.banner {
  background-image: url('../image/bg-1.png');
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 850px;
}
.solution-text p {
   margin: 0px -83px 20px 20px;
}
.solution-text h1 {
  margin: 7px -3px 41px 0px;
  font-size: 35px;
}
.solution-text {
  margin-left: 50px;
  margin-top:-50px;
}
.main-row-1{
  display: block;
  padding:10px;
}
.main-row-1 .box
{
  padding: 20px 0px;
}
}
