@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');
/* .backgroundcolor{
    height: 100%;
    width: 100%;
    margin: 20px;
    padding: 40px;
    display: flex;
   
}
.rgb{
    background-color: rgb(255,0,0);
    height: 100px;
    width: 100px;
}
.rgba{
    background-color: rgba(0,255,0,1.4);
    height: 100px;
    width: 100px;
}
.hex{
    background: color #032ef0;
    height: 100px;
    width: 100px;    
}
.hsl{
    background-color: hsl(252,30%,50%);
    height: 100px;
    width: 100px;
}
.backgrundimg{
    background-image: url(big.jpg);
    height: auto;
    width: auto
} */
 .jalu{

    text-decoration: overline;
    margin: 0%;
    line-height: 0%;
    
} 
img{
    vertical-align:top;
}
.outline{
     height: 100px;
     width: 100px;
     border:1px solid black;
     outline: 1px dotted red;
    outline-offset: 5px;

}
 

.img{
    margin-top: 30px;
      opacity: 0.39;

}
.font{
    font-family: 'Protest Revolution', sans-serif;
    font-size: 2rem;
    font-style:sans-serif;
    font-variant:small-caps;
    line-height: 35px;
    font-weight: bold;


}
.text{
    /* background-color: blueviolet; */
    color: aqua;
    text-align: end;
    text-decoration: underline dotted red;
    text-shadow: 10px,20px,1px,black ;
    text-indent: 100px;
    word-spacing: 2px;
    text-transform: lowercase;


 }
/*{
background-image: url(big.jpg);
background-size: auto;
} */
.shadow{
    margin: 50px;
    padding-top: 50px;
    height: 200px;
    width: 200px;
    border:2px solid black;
    box-shadow: 10px skyblue; 
}
.grad {
    width: 15rem;
    box-sizing: border-box;
    height: 15rem;
    margin: 1rem;
    background: linear-gradient(45deg, deeppink 50%, transparent 50%);
    filter: drop-shadow(0.6rem 0.6rem 1rem rgba(20, 20, 180, 0.8));
    box-sizing: border-box;

  }
  
 .one{
     height: 100px;
     width: 100px;
     border: 10x solid black;
 }
  