
.header-1 .frist-head{
    height: 18px;
    background-color: black;
    color: white;
    display:flex;
    font-size: 10px;
    padding-top: 4px;
}
.header-1 .header-1-text{
    padding-left: 50px;
    padding-right:  700px; ;
}
.s2 {
    padding-left:10px;

}
.s3{
    padding-left:10px;
}
.header2{
    height: 100px;
    width: 100vh;
    
   
}
.heder-2{
          display: flex;
          align-items: center;
   

}
.logo{
    padding-left: 100px;
}
ul  {
    padding-left:200px;
    
}
a{
    text-decoration: none;
    padding: 10px;
    color: black;
 
    
}
.icon2{
    height: 30px;
    width: 100vh;
 

}
.imagebener{
    background-image:url(asset\ 7.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height:500px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 50px;
    margin-left: 50px;
    
}

h1 h3{
  padding-top: 500px;  
} 