@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
/*.backimg{
    
        height: 100vh;
        width: 100%;
        background-image: url("big.jpg"),url(nati.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-blend-mode:overlay;
      
    
}*/
 /*.linear-gradient-1{
    height: 500px;
    width:100%;
    background: linear-gradient(to bottom, red, blue);
}  */

 /*.diagonal-linear-gradient {
    height: 500px;
    width:100%;
    background: linear-gradient(to top left, red 60% , yellow 40%);
} */

/*.linear-gradient-rainbow {
    height: 500px;
    width:500px;
    border-radius: 100%;
    background: linear-gradient(to top, red, orange, yellow, green, blue, indigo, violet)
} */

 /*.radial-gradient-simple {
    height: 800px;
    width:100%;
    background: radial-gradient( red, orange, yellow, green, blue, indigo, violet);
} 

.radial-gradient {
    height: 100vh;
    width:100%;
    background: radial-gradient(circle farthest-corner at right, red, blue);
} 

 .bullseye {
    height: 100vh;
    width:100%;
    background: repeating-radial-gradient(red, red 10%, white , white 20%);
} 

.warning {
    height: 100vh;
    width:100%;
    background: repeating-linear-gradient(-90deg ,  yellow, yellow 10%, black 10%, black 20% );
} 

 .conic{
    height: 400px;
    width: 400px;
    background-color: red;
    background-image: conic-gradient(red, rgb(0, 255, 30), rgb(128, 0, 102));
}  */
/* .outline{ 
    height: 500px;
    width: 500px;
    background-color: gray;
    border:5px solid black;
    outline:10px double red;
       outline-offset: 10px; 
    margin: 50px;}*/

    /* .outlineoffset{ }*/

/* .opacity{
    background-color: rgba(0,255,255,1);
    padding: 50px;
     opacity: 1.30; 
} */
*{
    box-sizing: border-box;
}

body{
    margin: 0;
}
.font-family p{		
     font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-style: italic;
    font-variant: normal;
    font-weight:bold;
    line-height:40px;
}
.font-family-2 p{
    font-family: 'Protest Riot', sans-serif;
    font-family: monospace;
    font-size: 100px;
    font-style: normal;
    font-variant: small-caps;
    font-weight: bold;
}