/* Megaone start */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left:200px;
    margin-right:200px;
    margin-top: 20px;
    flex-wrap: wrap;
  }
  
  .nav-links nav ul{
    list-style-type: none;
    display: flex;
    gap:30px;
  }
  
  .nav-links nav ul li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
  }
  
  
  
  .banner-section{
    background: linear-gradient(to left, #0176ff, #00b7ff);
    height: 70vh;
    display: flex;
    justify-content: center ;
    align-items:end;
    gap: 30px;
    
    
  }
  
  .bg-text{
    max-width: 500px;
    
  }
  
  .bg-text h1{
    font-size: 62px;
    color:white;
    
  }
  .bg-text p{
    font-size: 18px;
    color:white
  }
  .bg-text a{
    text-decoration: none;
    color: blue;
    padding: 15px 30px;
    background-color: white;
    margin-top: 20px;
    display: inline-block;
    border-radius: 30px;
    font-family: Roboto, sans-serif;
    letter-spacing: 0.5px;
    text-align: left;
    font-size: 16px;
    margin-bottom: 20px;
  }
  .bg-text a:hover{
    background-color: black;
    color: white;
  }
  